extends layout

block content

	html
	head
		meta(http-equiv='Content-Type', content="text/html; '+\'charset=UTF-8")  
		link(rel='stylesheet', href='../stylesheets/style.css')
	body(ng-app="AdmittApp")
		.main(ng-controller="MainController")
			h1 Admitt
			h2 Welcome to Admitt's File Manager!
			button(type="button" ng-click="debug()") Click Me!
			br
			ul
				li
					p Upload a file below:
					form(action='/upload', enctype='multipart/form-data', method='post')
						input(type='file', name='upload', multiple='multiple')
						|       
						input(type='submit', value='Upload File')


				li
					p Download a file:
					form()
						input(type='button', value='View Your Files', ng-click='seeFiles()')


		// angular:
		script(src="../javascripts/shared/angular.min.js")

		// directives

		// services:
		script(src="../javascripts/services/fileData.js")

		// modules
		script(src='../javascripts/app.js')

		// controllers
		script(src='../javascripts/controllers/MainController.js')
