html
	head
		meta(http-equiv='Content-Type', content="text/html; '+\'charset=UTF-8")
		link(rel='stylesheet', href='../stylesheets/profileStyle.css')
	body(ng-app="AdmittApp")
		.main(ng-controller='ProfileController')
			.container
				h1 {{ title }}

				// show files (use angular/mongoose)
				ul
					li
						p Anu Vora:
						img(src='../../fileStorage/anu.png')

	// directives:

	// controllers:
	script(src='../javascripts/controllers/ProfileController.js')

	// modules:
	script(src='../javascripts/app.js')