html
	head
		meta(http-equiv='Content-Type', content="text/html; '+\'charset=UTF-8")
		link(rel='stylesheet', href='../stylesheets/profileStyle.css')
	body(ng-app="AdmittApp")
		h1 Users Files:

		//show files (use angular/mongoose)

		// directives:

		// controllers:
		script(src='../javascripts/controllers/MainController.js')

		// modules:
		script(src='../javascripts/front_end.js')