html
	head
		meta(http-equiv='Content-Type', content="text/jade; '+\'charset=UTF-8")
		link(rel='stylesheet', href='../stylesheets/profileStyle.css')
	body(ng-app="AdmittApp")
		.main(ng-controller='ProfileController')
			.container
				h1 {{ title }}

				// show files (use a service)
				ul
					li
						.div(ng-repeat="file in files")
							p {{ file.name }}
							button(type="button" ng-click="") Download {{ file.name }}
						

	// directives:

	// controllers:
	script(src='../javascripts/controllers/ProfileController.js')

	// modules:
	script(src='../javascripts/app.js')

	// angular:
	script(src='../javascripts/shared/angular.min.js')